.titleContainer{
    margin-bottom: 8px;
}

.textId{
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    line-height: 17.6px;
}

.textTitle{
    font-size: 16px;
    color: #333333;
    font-weight: 900;
    font-style: italic;
    line-height: 20px;
}

