.pill {
    border-radius: 30px;
    height: 21px;
    line-height: 21px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.pill.unavailable {
    background-color: #E02323;
}

.pill.available {
    background-color: #11A960;
}

.pill.booked {
    background-color: #2C64B7;
}