.HouseCardContainer {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 1px;
}

.HouseCardContainer.available:hover {
    margin: 0;
    border: 1px solid #333333;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.HouseCardContainerInfo {
    margin: 16px;
}