.button {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    font-size: 14px;
    color: white;
}

.button.available {
    background: #2C64B7;
    border-color: #2C64B7;
    font-weight: 900;
    cursor: pointer;
}

.button.available:active{
    background: #1e4c8f;
    border-color: #1e4c8f;
}

.button.unavailable {
    font-weight: 900;
    background: #B3B3B3;
    border-color: #B3B3B3;
}

.button.booked {
    color: #11A960;
    padding: 0;
    border: none;
    background: none;
}

.bookedMessage {
    display: flex;
    line-height: 20px;
}

.tickIcon {
    margin-right: 8px;
    font-size: 20px;
}