@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #E5E5E5;
  overflow-wrap: break-word;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px 15px;
  margin: 50px;
  padding-inline-start: 0;
}

@media screen and (max-width: 550px) {
  ul {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px 5px;
    margin: 20px;
  }
}

li {
  list-style-type: none;
}